Package: heimdall
Version: 1.4.0
Architecture: amd64
Maintainer: Benjamin Dobell <service@glassechidna.com.au> repackaged by AdamOutler
Installed-Size: 144
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.1.1), libusb-1.0-0 (>= 2:1.0.8)
Section: unknown
Priority: extra
Homepage: http://www.glassechidna.com.au/products/heimdall
Description: Command line tool for flashing Galaxy S devices.
 Heimdall command line tool is a part of the Heimdall Suite used to flash
 Samsung Galaxy S devices (phones and tablets).
